* {
	margin: 0;
	padding: 0;
	outline: 0;
}

img {
	border: none;
}

body {
	background: #FFF;
	font-size: 10px;
	text-transform: uppercase;
	z-index:0;
	position:relative;
	top:0;
	left:0;
	top:0;
	bottom:0;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

#surface {
	position: absolute;
	z-index: -1;
}

#toolbar {
	position: absolute:
	z-index: 45;
	background: #EEE;
	width: 520px;
	margin: 0 auto;
	padding: 0 0 5px 0;
	border-bottom-left-radius: 10px;
	border-bottom-right-xradius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;	
	-webkit-border-bottom-right-radius: 10px;
	box-shadow: 0 0 5px 5px #999;
	-moz-box-shadow: 0 0 3px 3px #999;
	-webkit-box-shadow: 0 0 3px 3px #999;
}

#toolbar ul {
	list-style-type: none;
	width: 450px;
	margin: 0 auto;
}

#toolbar li {
	float: left;
	padding: 5px 10px 0 10px;
}

#toolbar li a{
	text-decoration: none;
	color: #333;
}

#toolbar li a:hover{
	color: #000;
}	
